.footer {
  margin: 6rem auto 0;

  @include mq_min_768 {
    padding: 0 2.5rem;
  }
  @include mq_min_969 {
    padding: 0 4rem;
  }
  @include mq_min_1200 {
    padding: 0;
  }
  &-top {
    position: relative;
    padding: 8rem 1.5rem 5rem;
    background-color: #262626;
    @include mq_min_969 {
      padding: 8rem 5rem 5rem;
    }
    &-container {
      max-width: 1170px;
      margin: 0 auto;
      .btn-go-top {
        position: absolute;
        top: -2.5rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: $red;
        padding: 1.8rem 2rem;
        color: $white;
        cursor: pointer;
      }
      .logo-footer {
        display: block;
        max-width: 17rem;
        margin: 0 auto 3.5rem;
      }
      p {
        color: $white;
        font-style: italic;
        text-align: center;
        @include font(1.4rem, 400, 1.5);
      }
    }
  }

  &-middle {
    padding: 2rem 1.5rem;
    background-color: #161616;
    &-container {
      max-width: 1170px;
      margin: 0 auto;
      @include mq_min_768 {
        @include flexbox(flex, space-between, flex-start, wrap);
      }
      @include mq_min_969 {
        @include flexbox(flex, space-between, flex-start, nowrap);
      }
      .block-child {
        padding-top: 2.5rem;
        @include mq_min_768 {
          width: calc((100% / 2) - 2rem);
        }
        @include mq_min_969 {
          width: calc((100% / 4) - 2rem);
        }
        .title-block {
          padding-bottom: 1rem;
          color: $white;
          @include font(1.4rem, 700, normal);
          border-bottom: 2px solid $white;
        }
        .content-block {
          @include font(1.2rem, 700, normal);
          a {
            display: block;
            color: $white;
            margin: 1rem 0;
            &:hover {
              color: $red;
            }
          }
          p {
            color: $white;
            margin: 1rem 0;
            line-height: 1.5;
          }
          .icon-footer {
            display: block;
            max-width: 6rem;
          }
          .dowload {
            @include flexbox(flex, space-around, center, nowrap);
          }
          .social-network {
            @include flexbox(flex, center, center, nowrap);
            a {
              &:first-child {
                margin-right: 2rem;
              }
            }
          }
        }
        .certification {
          display: block;
          max-width: 17rem;
        }
      }
    }
  }

  &-bottom {
    padding: 1.5rem;
    background-color: #161616;
    text-align: center;
    border-top: 2px solid $white;
    &-container {
      max-width: 1170px;
      margin: 0 auto;
      @include mq_min_768 {
        @include flexbox(flex, space-between, center, nowrap);
      }
      p {
        color: $white;
        @include font(1.4rem, 700, normal);
        margin-bottom: 1.5rem;
        @include mq_min_768 {
          margin: 0;
        }
      }
      img {
        max-width: 90%;
      }
    }
  }
}
